@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  position: relative;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.title {
  font-family: "Caudex", serif;
  font-size: 96px;
  line-height: 124px;
  color: #000000;
}
h2 {
  font-family: "Caudex", serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  margin-block-start: 0em;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
p:last-child {
  margin-bottom: 0;
}

p {
  font-family: "Jura", sans-serif;
}
a[href] {
  color: var(--blue);
  text-decoration: none;
}
a[href]:visited {
  color: var(--navy);
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}

a[href].tag,
a[href].tag:visited {
  color: #fff;
}

.comming-soon {
}

.comming-soon img {
}
.line {
  border: 1px solid black;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.card {
  background: #ffffff;
  box-shadow: 0px 0px 60px #ffffff;
  border-radius: 9px;
}
.domains {
  height: 200px;
}
.newletter {
  height: 100px;
}

.star {
  margin-left: auto;
  margin-right: 0;
}

/*Footer Logo*/
footer {
}

.icon-star {
  position: absolute;
  bottom: 0;
}

#circle {
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
}

#circle text {
  font-family: "Helvetica Neue", Arial;
  font-size: 16px;
  font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;

  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

.marquee span h2 {
  display: inline-block;
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  font-size: 10vw;
  padding: 0 2vw;
}

.marquee .marquee__inner {
  animation-play-state: running;
}
.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
