@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  position: relative;
}

h1 {
  font-family: "Caudex", serif;
  font-size: 96px;
  line-height: 124px;
  color: #000000;
}
h2 {
  font-family: "Caudex", serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
p {
  font-family: "Jura", sans-serif;
}
a[href] {
  color: var(--blue);
  text-decoration: none;
}
a[href]:visited {
  color: var(--navy);
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}


a[href].tag,
a[href].tag:visited {
  color: #fff;
}

.wrapper-domains{
  width: 500px;
}

.card-domains{
  background: #FFFFFF;
  box-shadow: 0px 0px 60px #FFFFFF;
  border-radius: 9px;
}

.marquee {
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}
.marquee :hover{

}

.marquee input[type=text] {
  text-align: right;
  border: none;
  background-color: rgba(0,0,0,0.0);



}
.marquee h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 100px;
  text-align: right;
  -webkit-text-fill-color: background:rgba(0,0,0,0.9);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

/*Footer Logo*/
footer{
  margin: 0%;
}
#circle {
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  overflow: hidden;
}

#circle text {
  font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}


