---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<section class="" >
    <h1 class="title tc">{{ metadata.title }}</h1>
    <p class="tc ph5 pb5 f4">We are not your typical domain owner, all of our revenue goes to the community and the planet.</p>
</section>

<section>
  <hr class="line" />
  <br/>
  <div class="marquee">
    <div class="marquee__inner" aria-hidden="true">
      <span class="flex">
        <input type="text" id="fname" value="brownsugar"><label>.milktea</label>
      </span>
      <span class="flex">
        <input type="text" id="fname" value="brownsugar"><label>.milktea</label>
      </span>
      <span class="flex">
        <input type="text" id="fname" value="brownsugar"><label>.milktea</label>
      </span>
    </div>
  </div>
  <hr class="line" />
  <br/>
  <div class="marquee">
     <div class="marquee__inner" aria-hidden="true">
       <span class="flex">
         <input type="text" id="fname" value="brownsugar"><label>.milktea</label>
       </span>
       <span class="flex">
         <input type="text" id="fname" value="brownsugar"><label>.milktea</label>
       </span>
       <span class="flex">
         <input type="text" id="fname" value="brownsugar"><label>.milktea</label>
       </span>
     </div>
   </div>
  <hr class="line" />
</section>


  <div class="wrapper ma5 center flex flex-wrap">
    {% set postslist = collections.domains %}
    {% include "domainlist.njk" %}
  </div>
  <div class="wrapper ma5 center flex flex-wrap">

  <div class="card newletter center w-100 w-50-ns">
    <form action="https://tinyletter.com/tiny-domains" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tiny-domains', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">~ tune in for more domains</label></p><p class="w-100"><input class="w-80" type="text" name="email" id="tlemail" value="name@email.com"/><input type="hidden" value="1" name="embed"/><input type="submit" value="→" /></p></form>
    </div>

  </div>

</div>
