---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<div class="vh-50 dt w-100 tc" >
  <div class="">
    <h1 class="">{{ metadata.title }}</h1>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque duis molestie enim suspendisse vitae pellentesque. Consectetur massa faucibus eu vulputate faucibus vitae est. </p>
  </div>
</div>
<div class="vh-50 dt w-100 tc" >
  <div class="marquee" >
   <p class="cssmarquee">.milktea</p>
  </div>
  <div class="marquee" >
    <p class="cssmarquee"> .learnable</p>
  </div>
</div>
