{% for post in postslist | reverse %}

  <div class="pa3 fl w-100 w-50-ns{% if post.data.live == false %} hidden{% endif %}">
    <div class="card-domains pa3">
      <a href="{{ post.url | url }}">
        <h2>{{ post.data.title }}</h2>
        <p>{{ post.data.description }}</p>
      </a>
    </div>
  </div>

{% endfor %}

