---
layout: layouts/home.njk
templateClass: tmpl-post
---
<div class="card center w-80 pa5 mt5">
  <h2>What is .{{ title }}</h2>

  {{ content | safe }}

<div class="flex flex-wrap w-100">
  <p>Currently our domains are offered through three partners:</p>
  <ul>
    <li>
      <a href="https://www.101domain.com">
        <h3>101domain</h3>
      </a>
    </li>
    <li>
      <a  href="https://gateway.io">
        <h3>Gateway</h3>
      </a>
    </li>
    <li>
      <a  href="https://www.encirca.com">
        <h3>Encirca</h3>
      </a>
    </li>

  </ul>

</div>
  Your domain purchase directly supports creators, freelancers, and the Earth

  <p>We are not your typical domain owner, all of our revenue goes to the community and the planet. Here is a bit about how we spend the funds raised from selling domains.
</p>
  <h3> 15% for the Earth </h3>

  We are in a state of ambient emergency when it comes to the climate crisis. We take 15% of all revenue and to fund climate mitigation projects. You can read more about what work we have supported on our <a href="domains.tinyfactories.space/blog">blog</a>.
<br />
<br />

  Currently <b>{{title}}</b> can be purchased through our partners thanks to <a href="http://namebase.io/">namebase.io</a>.
  </div>

</div>
